dl.uk-definition-list.uk-description-list-horizontal
  dt 來源名稱
  dd
    input.uk-width-1-1(type='text', name='name', value=name)
  dt 發佈者
  dd
    input.uk-width-1-1(type='text', name='publisher', value=publisher)
  dt 來源地址
  dd
    input.uk-width-1-1(type='text', name='url', value=url)
  dt 更新週期
  dd
    input.uk-width-1-1(type='text', name='period', value=period)
  dt 備註
  dd
    input.uk-width-1-1(type='text', name='remark', value=remark)

p
  button.save-button(data-uk-tooltip, title='Save Project')
    i.uk-icon-save
  button.cancel-edit-button(data-uk-tooltip, title='Cancel Edit Project')
    i.uk-icon-stop
