dl.uk-definition-list.uk-description-list-horizontal
  dt 來源名稱
  dd= name
  dt 發佈者
  dd= publisher
  dt 來源地址
  dd= url
  dt 更新週期
  dd= period
  dt 備註
  dd= remark

p
  button.edit-button(data-uk-tooltip, title='Edit Project')
    i.uk-icon-edit
  button.copy-button(data-uk-tooltip, title='Copy Project')
    i.uk-icon-copy
  button.destroy-button(data-uk-tooltip, title='Delete Project')
    i.uk-icon-trash-o
